<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h1></h1>
      <p> Félicitation, vous venez de créer la classe de votre enfant!</p>
      <br>
      <p> Chaque classe créée se voit attribuer un code différent. Ce code est à diffuser aux autres parents de votre classe afin qu'ils puissent s'inscrire de manière sécurisée à Ma Share-Ecole et accéder aux informations partagées sur la plateforme</p>
    </div>
    <div>
      <p> Code confidentiel de votre classe:</p>
      <br>
      <%= @camp.confidential_code %>
      <br>
      <p> Ce code est à conserver précieusement </p>
    </div>
  </div>
</div>
