<div class="container">
  <header class="grid clearfix">
    <div class="row">
      <div class="bloc bloc-n">
        <h1 class="left">Ma share école</h1>
      </div>

      <div class="bloc bloc-n">
        <h1 class="right">Contact</h1>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <section class="grid">
    <div class="bloc bloc-s-1">
    <br>
    <h5>Adresse </h5>
      <h6>31 rue Lafayette
        <br>75009 Paris
        <br>France
      </h6>
    <br>
    <h5>Téléphone</h5>
      <h6>+33 (0)1 87 66 88 88</h6>
      <br>
    <h5>Presse</h5>
      <h6>Jana YENA
        <br>27 rue du Paradis
        <br>75016 Paris
        <br>France
        <br>+33 (0)1 87 66 88 88
      </h6>
    </div>
    <div class="bloc bloc-s-3-1">
    <hr>
    <h6></h6>
    <form method="post">
      <fieldset>
        <div class="tooltip">
          <label class"xs" for="contactform-name">Nom</label>
          <input type="text" id="contactform-name" name="name" value> </div>
        </div>
        <div class="tooltip">
          <label class"xs" for="contactform-email">Email</label>
            <input type="text" id="contactform-email" name="name" value>
            </div>
        </div>
        <div class="tooltip">
          <label class="xs contactform-label" for="contactform-recipient">Destinataires</label>
          <select class="contactform-imput" id="contactform-recipient" name="recipient">
            <option value>-</option>
            <option value="Direction">Direction</option>
            <option value="Assistance">Assistance</option>
            <option value="Presse">Presse</option>
            <option value="Website">Website</option>
          </select>
        </div>
        <div class="tooltip">
          <label class="xs contactform-label" for="contactform-message">Message</label>
          <textarea class="contactform-imput" name="text" id="contactform-message" rows="6"<>/textarea>
       </div>
       <input type="submit" name="submit" value="Envoyer" class="btn btn-m btn-rnd btn-alt btn-full margin-bottom">
      </fieldset>
        </form>
    </div>
    </div>
  </section>
</div>


