<div class="container">

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 text-align ">
        <h1> Ma share école </h1>
        <br>
        <br>
        <br>
        <h5>Adresse </h5>
        <p>Comming soon </p>
        <p>75009 Paris </p>
        <p>France</p>
        <br>
        <h5>Téléphone</h5>
        <p>+33 (0)1 87 66 88 88</p>
        <br>
        <h5>Presse</h5>
        <p>Jana YENA</p>
        <p>27 rue du Paradis</p>
        <p>75016 Paris</p>
        <p>France</p>
        <p>+33 (0)1 87 66 88 88</p>
      </div>

      <div class="col-xs-8 col-xs-offset-2 col-sm-4 text-align">
          <h1> Contact </h1>
            <br>
            <br>
            <br>
          <form role="form">
            <div class="form-group">
              <label for="name">Nom</label>
              <input type="name" class="form-control" id="name" placeholder="nom">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Votre email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div>
              <textarea class="form-control" rows="6">Votre message</textarea>
            </div>
            <br>
            <br>
            <div>
              <button type="submit" class="btn btn-pimary">Envoyer</button>
            </div>
          </form>
      </div>
  </div>

  <div class="row">
        <div class="vertical_space_contact"></div>
  </div>

</div>
