<div class="banner">
  <h1>Ma Share-Ecole</h1>
  <h2>Le réseau parental qui vous simplifie la vie!</h2>
  <br>
  <!-- ajouter une barre de recherche  -->

</div>

<div class="backgroundSearch">
  <div class="container">
    <div class="row">
      <p class="text-center">Je trouve mon école</p>
      <div class="col-xs-10 col-sm-6 col-md-6 col-lg-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-4">
        <div class="input-group">
          <input type="text" class="form-control" id="query">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
      <p class="text-center" id="add_new_school">Je n'ai pas trouvé mon école... Je l'ajoute!</p>
      <!-- Indicates a successful or positive action -->
      <div class="text-center">
        <button type="button" class="btn btn-default">Ajouter une école</button>
      </div>
    </div>
  </div>
</div>

<div class="container pictos">
  <div class="row">
    <div class="col-xs-6 col-md-3 text-center">
      <%= image_tag "messharecontacts.png" %>
    </div>
    <div class="col-xs-6 col-md-3 text-center">
      <%= image_tag "mashareecole.png" %>
    </div>
    <div class="col-xs-6 col-md-3 text-center">
      <%= image_tag "mashareurgence.png" %>
    </div>
    <div class="col-xs-6 col-md-3 text-center">
      <%= image_tag "masharetirelire.png" %>
    </div>
  </div>
</div>