<div class="banner">
        <h1>Ma Share-Ecole</h1>
        <h2>Le réseau parental qui vous simplifie la vie!</h2>
        <br>
        <strong><p>Je trouve mon école</p></strong>
        <!-- ajouter une barre de recherche  -->

    </div>
