<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Publiez votre share annonce</h1>
        <%= render 'form' %>
    </div>
  </div>
</div>

<%= link_to 'Retour', adverts_path %>
