<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="page-header">
        <h1>Publiez votre share annonce</h1>
      </div>
        <%= render 'adverts/form' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= link_to "Retour !", school_adverts_path(@school), class: "btn btn-primary" %>
    </div>
  </div>
</div>