<h1> Mettre à jour votre share annonce <%= @advert.title %></h1>

<%= render 'adverts/form' %>


<%= link_to 'Afficher', @advert, class: "btn btn-primary" %> |
<%= link_to 'Retour', school_adverts_path(@school),class: "btn btn-primary" %>