<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1> <%=@school.name%> </h1>
      <div class="text-left">
        <br>
        <h3> Adresse: </h3>
        <p>
        <%= @school.address%>
        </p>
        <p>
          <%= @school.city%>
        </p>
        <p>
          <%= @school.country%>
        </p>
      </div>
    </div>
  </div>
</div>