// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-image: image-url("banner.jpg");
  background-size: cover;
  height: 370px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  position: relative;
}

.banner h1 {
  color: #cb6c5a;
  font-size: 72px;
  font-weight: normal;
}

.banner h2 {
  padding: 0.2em;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
  color: #e1cb82;
}

.banner p {
  padding: 1.2em;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 2em;
}

.backgroundSearch {
  position: relative;
  width: 100%;
  background-color: rgba(109, 182, 136, 0.8);
  padding-top: 25px;
  padding-bottom: 20px;
}

.backgroundSearch p {
  color: #cb6c5a;
  font-size: 25px;
  font-weight: normal;
}