.twitter-typeahead { width: 100%; }
.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint { width: 100%; margin: 0px; padding: 8px 12px; border: 2px solid #ccc; outline: none; }
.twitter-typeahead .tt-input:focus { border: 2px solid #0097cf; }
.twitter-typeahead .tt-hint { color: #999; }
.twitter-typeahead .tt-dropdown-menu { width: 100%; padding: 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-top: 0px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion { text-align: left; padding: 3px 20px; font-size: 18px; line-height: 24px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion em { font-weight: bold; font-style: normal; }


// ICI C'EST LA ZONE IMPORTANTE
$font-family: 'Lato', sans-serif;
$btn-primary-bg: #f8f7f3;

$input-color: #666;
$input-bg: white;
$input-border-radius: 10px;
$input-border: #666;
$input-color-placeholder: lightgrey;


// Import gems SCSS
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Import my SCSS
@import "navbar";
@import "home";
@import "footer";

body {
  padding-top: 40px;
  background-color: #f8f7f3;
  font-family: 'lato', sans-serif;
  letter-spacing: 2px;
  color: #666;
  letter-spacing: 2px;


}
