// ICI C'EST LA ZONE IMPORTANTE
$font-family: 'Lato', sans-serif;
$btn-primary-bg: #9b9b98;

$input-color: #666;
$input-bg: white;
$input-border-radius: 0px;
$input-border: #f8f7f3;
$input-color-placeholder: lightgrey;


// Import gems SCSS
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Import my SCSS
@import "algolia";
@import "navbar";
@import "home";
@import "footer";
@import "contact";

body {
  font-family: 'lato', sans-serif;
  background-color: #f8f7f3;
  color: #666;
  font-size: 1em;
  line-height: 1,5;
  padding-top: 40px;
  letter-spacing: 2px;
  height: 100%;
  display: block;
  font-weight: 200;
}

h1{
  font-weight: 400;
}

h2{
  font-weight: 300;
}

p{
  font-weight: 300;
}

.input {
width: 100%;
display: block;
height: 2.25em;
padding: 0.75em;
margin-bottom: 1.5em;
border: 0 none;
border-top: 1px dotted #bcb9af;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
}



