// ICI C'EST LA ZONE IMPORTANTE
$font-family: 'Lato', sans-serif;
$btn-primary-color: white;
$btn-primary-bg: #a94442;

$input-color: #666;
$input-bg: white;
$input-border-radius: 0px;
$input-border: #f8f7f3;
$input-color-placeholder: lightgrey;


// Import gems SCSS
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Import my SCSS
@import "algolia";
@import "navbar";
@import "home";
@import "footer";
@import "contact";
@import "chosen";
@import "common";

