body {
  font-family: 'lato', sans-serif;
  background-color: #f8f7f3;
  color: #666;
  font-size: 1em;
  line-height: 1,5;
  padding-top: 40px;
  letter-spacing: 2px;
  height: 100%;
  display: block;
  font-weight: 200;
}

h1{
  font-weight: 400;
}

h2{
  font-weight: 300;
}

p{
  font-weight: 200;
}

input {
width: 100%;
display: block;
height: 2.25em;
padding: 0.75em;
margin-bottom: 1.5em;
border: 0 none;
border-top: 1px dotted #bcb9af;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
}
