.vertical_space{
  padding-top: 30px;
}

.wrapper{
  padding-top: 3em;
}

body {
  font-family: 'lato', sans-serif;
  background-color: #f8f7f3;
  color: #666;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 300;
  padding-top: 40px;
  letter-spacing: 2px;
  height: 100%;
  display: block;
}

h1{
  font-weight: 400;
}

h2{
  font-weight: 300;
}

p{
  font-weight: 300;
}


