
.grid {
  margin-right: 1,5em;
}

.bloc {
  margin-right: 1,5em;
  margin-bottom:1,5em;
}

.bloc-n{
  width: auto;
  min-width: 13,5em
}

.bloc-xs-1{
  width:10em;
}

.bloc-s-3-1{
  width:20em;
}

.right {
  float:right;
}


.left {
  float:left;
}

.bloc-s-1{
  width: 30em;
  float:left;
}

.h6 .xs {
text-transform: uppercase;
letter-spacing: 0.25em;
font-weight: 700;
color: #4e4c44;
}

.tooltip {
position: relative;
}

.xs {
text-transform: uppercase;
letter-spacing: 0.25em;
font-weight: 700;
color: #4e4c44
}

.margin-bottom {
margin-bottom: 24px;
margin-bottom: 1.5rem;
}

.btn {
display: inline-block;
text-align: center;
border: none;
margin: 0;
overflow: visible;
text-decoration: none;
color: #666;
background-color: #f8f7f3;
}

.btn-full {
width: 100%;
}

.btn-m {
padding: 0.75em 1.5em;
}

.btn-alt {
color: #f8f7f3;
background-color: #bcb9af;
}

.btn-rnd {
border-radius: 0.5rem;
border-radius: 0.5rem;
border-radius: 0.5rem;
}

