.footer {
  background-color: #dcdcd0;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #496174;
  width:100%;
  height:70px;
  bottom: 0px;
}

.footer ul {
  color: #496174;
  font-size: 20px
}

.footer li:hover {
  color: grey;
}