// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-image: image-url("banner.png");
  background-color: #f8f7f3;
  background-size: contain;
  background-position: center, bottom;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 120px, 30px;
  margin-top: 0px;
  text-align: center;
  width: 100%;
  position: relative;
  font-family: 'lato', sans-serif;
  color: #666;
  letter-spacing: 2px;
}

.banner h1 {
  padding-top: 90px;
  font-size: 60px;
  line-height: 1.5;
  font-weight: normal;
}

.banner h2 {
  padding: 0.2em;
  font-size: 25px;
  line-height: 1;
  font-weight: 200;
  margin-bottom: 2em;
}

.banner p {
  padding: 1.2em;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 2em;
}

#add_new_school{
  padding-top: 1em;
  font-weight: 300px;
  color: #666;
}

.backgroundSearch {
  position: relative;
  width: 100%;
  background-color: #f8f7f3;
  padding-top: 25px;
  padding-bottom: 30px;
  }

.backgroundSearch p {
  padding-top: 40px;
  padding-bottom: 5px;
  color: #666;
  font-family:'lato', sans-serif;
  letter-spacing: 2px;
  font-size: 2em;
  line-height: 2em;
}

.pictos {
  position: relative;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;

  img {
    width: 50%;
    border: 2px solid grey;
    border-radius: 50%;
    padding: 20px;
  }
}